.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    margin-bottom: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.logo {
    width: 8rem;
    object-fit: contain;
    justify-self: start; /* Add this line */
}

.github-btn {
    border: none;
    background: none;
}

.github-btn span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

.github-btn svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.github-btn:hover svg {
    transform: translateX(0);
}

.github-btn:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.github-btn:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.head-text {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.break-md {
    display: none;
}

.gradient-text {
    background: linear-gradient(to right, #ff9472, #ff4b4b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    text-align: center;
    max-width: 30rem;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #333;
}
